# common variables for all highly-available stfc environments (those running on a CAPI cluster) - stfc-production and stfc-staging 

#############################################################################
# Configuration for the HA cluster

# use STFC cloud CAPI wrapper chart - brings in our own STFC-Cloud specific values
capi_cluster_chart_repo: https://stfc.github.io/cloud-helm-charts/
capi_cluster_chart_name: stfc-cloud-openstack-cluster
capi_cluster_chart_version: 1.4.0

# Worker/Control plane node count for azimuth capi cluster
capi_cluster_control_plane_flavor: "dep-l2.tiny"  
# The name of the flavor to use for worker nodes
capi_cluster_worker_flavor: "dep-l2.tiny" 
# The number of control plane nodes to use
capi_cluster_control_plane_count: 5
# The number of worker nodes
capi_cluster_worker_count: 3

capi_cluster_control_plane_omit_failure_domain: true
capi_cluster_worker_failure_domain: null

capi_cluster_machine_image_id: "{{ azimuth_capi_operator_images['capi-ubuntu-2204-kube-v1.31.4-2025-01-24'].id }}"
capi_cluster_kubernetes_version: "{{ azimuth_capi_operator_images['capi-ubuntu-2204-kube-v1.31.4-2025-01-24'].kubernetes_version }}"

# set our own release defaults
# copy-paste of defaults but wrapped in "openstack-cluster"  
# https://github.com/azimuth-cloud/ansible-collection-azimuth-ops/blob/main/roles/capi_cluster/defaults/main.yml

# override CAPI release values - default release values aren't compatible with our chart
capi_cluster_release_values: >-
  {{-
    {"openstack-cluster": {"clouds": { "openstack": capi_cluster_credentials.clouds[capi_cluster_cloud_name] } } } |
    combine({"openstack-cluster": {"clouds": {"openstack": {"auth": {"project_id": capi_cluster_openstack_project_id } } } } },
      recursive=True
    ) |
    combine({"openstack-cluster": capi_cluster_release_defaults}, recursive=True) |  
    combine({"openstack-cluster": capi_cluster_release_overrides}, recursive=True)   
  }}

capi_cluster_addons_openstack_loadbalancer_provider: amphora
capi_cluster_addons_csi_cinder_availability_zone: ceph
