---
name: Scheduled upgrade

permissions:
  contents: read
  packages: write
  id-token: write

on:
  # Run weekly on a Thursday at 6am
  schedule:
    - cron: "0 6 * * 4"
  # Allow manual executions
  workflow_dispatch:

jobs:
  get_latest_release:
    name: Find latest tagged release
    runs-on: ubuntu-latest
    if: github.repository == 'azimuth-cloud/azimuth-config'
    outputs:
      latest_release: ${{ steps.get-tag.outputs.latest }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Find latest tagged release
        id: get-tag
        run: >-
          echo "latest=$(gh release view --json tagName --jq .tagName)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test_upgrade:
    name: Run upgrade workflow
    secrets: inherit
    needs: get_latest_release
    uses: ./.github/workflows/test-upgrade.yml
    with:
      from-ref: ${{ needs.get_latest_release.outputs.latest_release }}
      to-ref: "devel"

  send_slack_message:
    name: Send message to Slack
    runs-on: ubuntu-latest
    if: ${{ success() || failure() }}
    needs: test_upgrade
    steps:
      - name: Send message to Slack
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: "${{ secrets.SLACK_WEBHOOK_URL }}"
          webhook-type: incoming-webhook
          payload: |
            text: ":rotating_light: \nScheduled Azimuth upgrade test **${{ needs.test_upgrade.result }}**\n${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
